*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.article{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 60px 40px;
    text-align: center;
}

.article h2{
    font-size:2.3rem ;
    font-weight: 700;
    padding-bottom: 5px;

}

.article h6{
    font-size:1rem ;
    opacity: .8;
    padding-bottom: 60px;
    font-weight: 500;
}

.tips-card img{
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
 
}

.tips-card{
    padding: 0;
    margin: 0 15px 30px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px 10px 10px 10px ;
    min-width: 30%;

}
.tips-card:hover{
    transform: translateY(-5px) !important;
    box-shadow: -1px -2px 31px 10px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px -2px 31px 10px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px -2px 31px 10px rgba(0,0,0,0.51);
    transition: all .6s ease;
}

.for-text{
    padding: 30px;
    text-align: start;
    word-break: break-word;
}

.for-text h5{
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    font: bold;
    color: #000;
    margin:5px  0;
    text-align: start;
}

.for-text h4{
    font-size: 1.3rem;
    font-weight: 700;
}

.for-text p{
    color: #222;
    opacity: .8;
    padding-top: 11px;
    padding-bottom: 25px;
    font-size:1rem;
    line-height:30px ;
}

.for-text a{
    text-decoration: none;
    color: #222;
    opacity: .5;
    margin-top: 15px;
    font-size: 1rem;
}


.for-text a .read-arrow{
    margin-left: 5px;
    font-size: 1.1rem;
}
.for-text a:hover {
    color: #000;
}

/* ---media queries  */

@media(max-width:1200px){
    .article{
        padding: 60px 30px;
    }
}

@media(max-width:992px){
    .article{
        padding: 60px 25px;
    }

    .tips-card{
        max-width:32% ;
    }

    .for-text{
        padding: 25px;
    }

    .tips-card{
        min-width: 27%;
    }
}

@media(max-width:768px){
    .article{
        padding: 50px 20px;
    }

    .article h6{
        padding-bottom: 50px;
    }
.tips-card{
    min-width: 100%;
    margin: 15px 0;
}
  
}

@media(max-width:576px){
    .article{
        padding: 40px 16px;
    }
    .article h6{
        padding-bottom: 40px;
    }

    .for-text{
        padding: 15px;
    }
}

@media(max-width:376px ){
    .article{
        padding: 30px 10px;
    }

    .article h6{
        padding-bottom: 30px;
    }
}
