*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.car-types{
    margin: 0;
    padding: 60px 40px 50px;
}

.find-car{
    font-size: 2.3rem;
    font-weight: 700;
     text-align: center;
 }
 
 .we-offer-type{
     color: #6e6e6e;
     font-size: 1.1rem;
     text-align: center;
     font-weight: 500;
     padding: 10px 0 60px;
 
 }
 
 .type{
     margin-bottom: 30px;
     padding: 0 15px;
     cursor: pointer;
 
 }

 
.type:hover{
    transform: translateY(-5px) !important;
    transition: transform .6s ease !important;

}

.for-img-type{
    position: relative;

}

.for-img-type img{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    border-radius: 10px;

}

.for-img-type h3{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

/* ---media queries */

@media(max-width:1200px){
    .car-types{
        padding: 60px 30px 50px;
    }
}

@media(max-width:992px){
    .car-types{
        padding: 50px 25px 30px;
    }

    .we-offer-type{
        padding-bottom: 50px;
    }
}

@media(max-width:768px){
    .car-types{
        padding: 40px 20px 20px;
    }
    .we-offer-type{
        padding-bottom: 40px;
    }
    .type{
        padding: 0;
    }
    .for-img-type img{
        height: 65vh;
    }
}


@media(max-width:576px){
    .car-types{
        padding: 40px 16px 10px;
    }
    .we-offer-type{
        padding-bottom: 30px;
    }
    .for-img-type img{
        height: 45vh;
    }

}
@media(max-width:376px){
    .car-types{
        padding: 30px  10px 5px;
    }
    .we-offer-type{
        padding-bottom: 30px;
    }

}
