*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.my-navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgba(0,0,0,0.6);
    background-size: cover;
    background-attachment: fixed;
    padding:0 40px;
}
.logo{
    display: flex;
    align-items: center;
    padding-right: 30px;
}
.logo img{
    width: 100%;
}

.my-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ul-links{
    display: flex;
    align-items: center;

}
.ul-links li{
     padding: 30px 17px 30px 0;
     display: flex;
}
.ul-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    text-transform: capitalize;
    padding: 0 0 0 20px;

}
.bar-icon{
    display: none;
    font-size: 2.2rem;
    color:#fff;
    cursor: pointer;
}
/* .ul-links li a:hover , .bar-icon:hover{
    color:#04DBC0;
    transition: color 1.2s ease;
} */
.off-canvas{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100%;
    background-color: #222;
    width: 0;
    overflow-x: hidden;
    transition: all .3s ease;
}

.off-canvas-links{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 0 40px ;
    margin-left: 40px;
  
}

.off-canvas-links a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.5rem;

}

/* .off-canvas-links a:hover{
color:#04DBC0;
transition: color  1.2s ease;
} */

.x-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.6rem;
    background-color:#04DBC0; 
    color: #fff;
    border-radius: 30px;
    cursor: pointer;

}

.x-icon:hover{
    transform:translateY(-5px);
    transition: transform 1.2s ease;
}

.insta , .face , .pinterest , .twitter , .youtube {
    color: #fff;
    margin-right: 10px;
    font-size: 1.6rem;
    cursor: pointer;

}

/* .off-canvas-links .insta:hover , .face:hover , .pinterest:hover , .twitter:hover , .youtube:hover{
    color:#04DBC0;
    transition: color  1.2s ease;
    } */
.phone-icon , .clock-icon{
    color: #fff;
    font-size: 1rem;
    margin-right: 7px;
    margin-left: 40px;
}

.social{
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0 10px;
}

.off-canvas .for-h3{
    color: #fff;
    padding-bottom: 40px;
    text-align: start;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 40px;
}
.off-canvas span  a{
    color: #fff;
    font-size: 1rem;
    font: bold;
    padding-bottom: 15px;
}

.off-canvas span a:hover{
color: #fff;
}

.is-active{
    width:40%;
    transition: width .3s ease;
}

.add{
    display: flex;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top:250px ;
    background-color:#d9d9d9;
    background-size: contain;
    border-radius: 0 10px 10px 0 ;
    padding-bottom: 10px;
    
}

.whatsapp-icon, .heart-icon , .cart-icon{
    cursor: pointer;
    color:#222;
    font-size: 2.5rem;
    padding-top: 15px;
}

.whatsapp-icon{
    animation: shake 3s infinite 2s  ease-in-out ;
    color: rgb(7, 130, 7);

}


@keyframes shake {
    0% {
transform: translateX(2px);
transform: translateY(5px);

    }

    25%{
        transform: translateX(3px);
        transform: translateY(4px);
        transform: rotate(10deg);
    }
    50% {
        transform: translateX(4px);
        transform: translateY(3px);
        transform: rotate(-20deg);
    }
    100% {
        transform: translateX(5px);
        transform: translateY(2px);
        transform: rotate(10deg);
    }
}

/* .heart-icon:hover , .cart-icon:hover {
    color: #04DBC0;
    transition: color 1.2s ease;
} */

/* ----media queries */

@media(max-width:1200px){
.my-navbar{
    padding: 0 30px;
}
}

@media(max-width:992px){
.my-navbar{
    padding: 0 25px;
    }

.ul-links li a{
    font-size: 1rem;
    padding: 0 10px;
    
    }

.logo img{
    width: 90%;
}
}

@media(max-width:768px){
.my-navbar{
    padding: 0 20px;
    }
.bar-icon{
    display: flex;
}


.ul-links{
    display: none;
}
.logo img{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}



.insta , .face , .pinterest , .twitter , .youtube {
    margin-right: 5px;
    font-size: 1.5rem;

}
.off-canvas-links{
    margin-left: 20px;
}

.phone-icon , .clock-icon{

    font-size: 1rem;
    margin-right: 5px;
    margin-left: 20px;
}

.social{
    margin-left: 20px;
}

.off-canvas .for-h3{
    padding-bottom: 30px;
    margin-left: 20px;
}
.off-canvas span  a{
    font-size: .9rem;
    font: bold;
}

}

@media(max-width:576px){
.my-navbar{
    padding: 0 16px;
    }

    .logo img{
        width: 70%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .is-active{
        width: 50%;
    }
    
    .insta , .face , .pinterest , .twitter , .youtube {
        margin-right: 5px;
        font-size: 1.5rem;
    
    }
    .off-canvas-links{
        margin-left: 10px;
    }

    .off-canvas-links li a{
        font-size: 1.3rem;
    }
    
    .phone-icon , .clock-icon{
        font-size: 1rem;
        margin-right: 5px;
        margin-left: 10px;
    }
    
    .social{
        margin-left: 10px;
    }
    
    .off-canvas .for-h3{
        padding-bottom: 30px;
        margin-left: 10px;
    }
    .off-canvas span a{
        font-size: .9rem;
    }
}

@media(max-width:376px){
.my-navbar{
        padding: 0 10px;
        justify-content: space-between;
    
    }
    .is-active{
        width: 60%;
    }
    
    .logo img{
        width: 50%;
    }

    .off-canvas .for-h3{
        padding-bottom: 20px;
        margin-left: 10px;
        font-size: .9rem;
    }
    .social{
        margin-left: 10px;
    }
    .phone-icon , .clock-icon{
        margin-left: 10px;
    }

    .off-canvas-links{
       padding-bottom: 30px;
    }
    
    .x-icon{
        top: 20px;
        right: 20px;
    }
    .off-canvas span  a{
        font-size: .8rem;
 
    }

    .insta , .face , .pinterest , .twitter , .youtube {
        margin-right: 5px;
        font-size: 1.3rem;
    
    }
}
